body{
<<<<<<< HEAD
  margin: 30px;
  font-family: 'Poppins', sans-serif;
}

=======
  font-family: 'Poppins', sans-serif;
}
>>>>>>> 0bf2c91d41bcb0d5b9cf45114b7f9b9dbf0c08bf
.movie-list{
  padding: 20px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
<<<<<<< HEAD

.movie-container{
  width: 380px;
}

=======
.movie-container{
  width: 380px;
}
>>>>>>> 0bf2c91d41bcb0d5b9cf45114b7f9b9dbf0c08bf
.movie-specs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
<<<<<<< HEAD

=======
>>>>>>> 0bf2c91d41bcb0d5b9cf45114b7f9b9dbf0c08bf
.movie-poster{
  height: 520px;
  width: 380px;
  object-fit: cover;
}
<<<<<<< HEAD

.movie-name{
font-size: 24px;
margin: 0;
}

=======
.movie-name{
font-size: 24px;
}
>>>>>>> 0bf2c91d41bcb0d5b9cf45114b7f9b9dbf0c08bf
.movie-rating{
  font-size: 17px;
  font-weight: 400;
}
<<<<<<< HEAD

.likes-dislikes{
 font-size: 24px;
}

.counter-container{
  display: flex;
  gap: 10px;
}

.movie-show-button{
  /* margin-bottom: 18px; */
  font-size: 1.5rem;
}

.add-movie-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1rem;
}

.not-found{
  text-align: center;
  font-size: 3.6rem;
  margin: 0;
}

.not-found-img{
  height: 500px;
  width: 100%;
  object-fit: cover;
=======
.likes-dislikes{
 font-size: 24px;
}
.counter-container{
  display: flex;
  gap: 10px;
>>>>>>> 0bf2c91d41bcb0d5b9cf45114b7f9b9dbf0c08bf
}

.movie-detail-container{
  max-width: 50rem;
  padding: 1rem;
}

.Like-Unlike-delete{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:root{
  font-size: 16px;
  /* 1 rem = 10px */
  /* default 1 rem = 16px */
}